@tailwind base;
@tailwind components;
@tailwind utilities;




.ReactCollapse--collapse {
  transition: height 400ms;
}

/* Add these styles to your CSS file */
.accordion-description-open {
  max-height: 1000px; /* Adjust the value as needed */
  opacity: 1;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.accordion-description-closed {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  overflow: hidden;
}

/* In your CSS or styles */
.fixed-navbar-enter {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.fixed-navbar-enter-active {
  opacity: 1;
  transform: translateY(0);
}

.fixed-navbar-exit {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.fixed-navbar-exit-active {
  opacity: 0;
  transform: translateY(-100%);
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.dropdown {
  opacity: 0;
  height: 0px;
  transform: translateY(-10%);
  padding:0px;
  transition: opacity 0.3s ease-in-out, transform 0.2s ease-in-out, height 0.2s ease-in-out, padding 0.2 ease-in-out;
}

.dropdown-enter {
  opacity: 1;
  height: 500px;
  padding:40px;
  transform: translateY(0%);
}

.dropdown-exit {
  opacity: 0;
  height: 0px;
  padding:0px;
  transform: translateY(-10%);
}

.sidebar-hidden {
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
}

.sidebar-visible {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
}

.sidebar-dropdown{
  height: 0px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, height 0.2s ease-in-out;
}

.sidebar-dropdown-enter {
  height: fit-content;
  opacity: 1;
}

.sidebar-dropdown-exit {
  height: 0px;
  opacity: 0;
}
/* Add appropriate positioning styles to the sub-dropdown */
.sub-dropdown {
  position: absolute;
  top: 0;
  left: 100%;

  /* Adjust as needed */
}

.sub-dropdown2 {
  position: absolute;
  left: 100%;
 /* Adjust as needed */
}
.sub-dropdown3 {
  position: absolute;
  top: 30%;
  left: 100%;
 /* Adjust as needed */
}

.dropdown li:hover > .sub-dropdown {
  display: block;
  animation: slideleft .3s
}

.dropdown li:hover > .sub-dropdown2 {
  display: block;
  animation: slideleft .3s
}
.dropdown li:hover > .sub-dropdown3 {
  display: block;
  animation: slideleft .3s
}

/* Adjust the positioning of the submenu */
.sub-dropdown .dropdown-menu {
  margin-top: 0; /* Adjust as needed */
}

.sidebar-hidden {
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
}

.sidebar-visible {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
}

/* Apply hover color only to immediate child <a> elements */
.sidebar-subdropdown > li > a:hover {
  color: rgb(251 146 60);
}

/* Apply hover color only to immediate child <a> elements of nested submenu */
.sidebar-subdropdown > li > ul > li > a:hover {
  color: rgb(251 146 60);
}

.sidebar-subdropdown li a {
  color: inherit;
  text-decoration: none;
  display: block;
}

.sidebar-subdropdown li {
  transition: background-color 0.3s;
}

.sidebar-subdropdown li:hover {
  background-color: #1e293b; /* Apply your hover background color here */
}

.sidebar-visible li > .sidebar-subdropdown{

  animation: slidedown .3s;
}


.arrow-down {
  transition: transform 0.3s;
}

.arrow-up {
  transform: rotate(360deg);
  transition: transform 0.3s;
}




.content-img {
   margin-bottom: 2.5rem/* 40px */;
    --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    margin-top: 2.5rem/* 40px */;
}


.useful-list li::marker {
  content: "➔  "; /* Use a right arrow character */
  color: rgb(194 65 12 / var(--tw-bg-opacity));
  font-weight: bold; /* Increase the font weight for thicker bullets */
  margin-right: 5px;
  --tw-bg-opacity: 1; 
}


.useful-list{
  list-style: none;
  padding-left: 20px;

}


.arrow {
  border-top: 20px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 20px solid black;
  width: 0;
  height: 0;
}

.arrow::before {
  content:'';
  left: 0;
  width: 30px;
  height: 15px;
  background-color: black;
}
.content p{
  @apply text-xs sm:text-sm md:text-base text-gray-300
}
.content-list {
  @apply text-xs border-l-[1px] border-slate-600 sm:text-sm md:text-base list-none  pl-8 text-gray-300
  }
  
  .content-list li::marker {
    content: "> ";
  }
  
  .content-p {
    @apply text-xs sm:text-sm md:text-base text-white
  }
  .content-h1 {
    @apply text-3xl sm:text-4xl md:text-5xl text-center my-6 sm:my-8 md:my-10 text-white border-b-[2px] border-slate-500 pb-14
  }
  .content-h2 {
    @apply  text-2xl sm:text-3xl md:text-4xl  text-left my-4 sm:my-6 md:my-8 text-orange-600 border-b-[1px] border-slate-500 pb-4
  
  }
  .content-h3 {
    @apply text-lg sm:text-xl md:text-2xl text-orange-600 my-4 mt-4
  }

.content-link {
  --tw-text-opacity: 1;
  color: rgb(249 115 22 / var(--tw-text-opacity));
  font-weight: 600;
}
.dropdown {
  opacity: 0;
  height: 0px;
  transform: translateY(-10%);
  padding:0px;
  transition: opacity 0.3s ease-in-out, transform 0.2s ease-in-out, height 0.2s ease-in-out, padding 0.2 ease-in-out;
}

.dropdown-enter {
  opacity: 1;
  height: 500px;
  padding:40px;
  transform: translateY(0%);
}

.dropdown-exit {
  opacity: 0;
  height: 0px;
  padding:0px;
  transform: translateY(-10%);
}